body{
    margin: 0;
    background-color: rgb(255, 255, 237);    
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333

}
.page{
    width:80%;
    max-width:1000px;
    margin:0 auto;
    padding: 30px 20px;

}


.header{
    text-align: center;
    background-color: #E1B995;
    padding: 25px 15px;
    border-radius: 16px;
    margin-bottom: 30px;
    color: #2B1E16;
}

.header h1{
    font-size: 45px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
}

.header p{
    font-size: 20px;
    margin-top: 10px;
    color: #5C4033;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 30px;
}



.card {
    background-color: #FAF6F0;
    padding: 0;         
    border: 1px solid #E1B995; 
    border-radius: 16px; 
    text-align: center;
    box-shadow: 0 12px 28px rgba(43, 30, 22, 0.06); 
    font-family: 'Inter', system-ui, sans-serif;
    overflow: hidden;   
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card a:hover {
    color: #5C4033;
}

.card a, 
.card a:visited {
    color: #2B1E16; 
    display: block;
    text-decoration: none;
    letter-spacing: 0.5px;
}


.card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block ;
}

.card p{
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin: 0;
   
    background-color: #FAF6F0;
    border-top: 1px solid #E1B995;
}

.card a{
    display: block;
    text-decoration: none;
}





.about{
    padding: 40px 20px;
    border: 2px solid#424B54;
    background-color: white;
}

.about h2{
    margin-bottom: 8px
}

/*CATEGORY PAGE CSS --------------------------------------------------------------------------------------------------------*/


.breadcrumb{
    margin-bottom: 1.5%;
}

.breadcrumb a{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: None;
}

.breadcrumb a:hover{
    text-decoration: underline;

}

.card a:hover{
    transform: translateY(-4px);
    box-shadow: 0 6px 14px grey;
}

/*RECIPE CSS-----------------------------------------------------------------------------------------------------------------*/

.recipe-layout {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    gap: 25 px;
    margin-top: 20px;
}

.recipe-title-box,
.recipe-main-pic-box,
.recipe-extra-info-box,
.recipe-ingredients-box,
.recipe-media-box,
.recipe-box {
    border-radius: 12px;
    padding: 10px;
}

.recipe-title-box { grid-column: 1/2; grid-row: 1; }
.recipe-main-pic-box { grid-column: 2/3; grid-row: 1/3; }
.recipe-extra-info-box { grid-column: 1/2; grid-row: 2; }
.recipe-ingredients-box { grid-column: 1/2; grid-row: 3; }
.recipe-media-box { grid-column: 2/3; grid-row: 3; }
.recipe-box { grid-column: 1/3; grid-row: 4; }

.recipe-main-pic-box img, 
.recipe-media-box img {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/* ================= WATERMELON THEME ================= */
[data-theme="watermelon"] .recipe-title-box {
    background-color: rgb(250, 200, 209);
    border: 2px solid whitesmoke;
}
[data-theme="watermelon"] .recipe-title-box h1 {
    color: #1e3f20;
    text-align: center;
    padding: 30px;
}
[data-theme="watermelon"] .recipe-main-pic-box {
    background-color: #fffdf9;
    border: 1px solid #9c273a;
}
[data-theme="watermelon"] .recipe-extra-info-box {
    background-color: #e6f5e6;
    border: 2px solid whitesmoke;
}
[data-theme="watermelon"] .recipe-ingredients-box {
    background-color: #ffffff;
    border: 2px solid whitesmoke;
}
[data-theme="watermelon"] .recipe-media-box {
    background-color: #f2f4f5;
    border: 2px solid whitesmoke;
}
[data-theme="watermelon"] .recipe-box {
    background-color: rgb(250, 200, 209);
    border: 2px solid whitesmoke;
}

/* ================= LYCHEE THEME ================= */
[data-theme="lychee"] .recipe-title-box {
    background-color: #fcdfe3;
    border: 2px solid whitesmoke;
}
[data-theme="lychee"] .recipe-title-box h1 {
    color: #1c1c24;
    text-align: center;
}
[data-theme="lychee"] .recipe-extra-info-box {
    background-color: white;
    border: 2px solid #ffcdd2;
}
[data-theme="lychee"] .recipe-ingredients-box {
    background-color: #ffffff;
    border: 2px solid #ffcdd2;
}
[data-theme="lychee"] .recipe-box {
    background-color: #fff0f2;
    color: #37474f;
}

/* ================= SPRITE THEME ================= */
[data-theme="sprite"] .recipe-title-box h1 {
    color: #007a3d;
    text-align: center;
}
[data-theme="sprite"] .recipe-extra-info-box,
[data-theme="sprite"] .recipe-ingredients-box {
    background-color: #f0f9ff;
    border: 2px solid #b3e5fc;
}
[data-theme="sprite"] .recipe-box {
    background-color: #f1f8e9;
}

/* ================= MANGO THEME ================= */
[data-theme="mango"] .recipe-title-box {
    background-color: #e65100;
    color: #fffdf0;
}
[data-theme="mango"] .recipe-extra-info-box,
[data-theme="mango"] .recipe-ingredients-box {
    background-color: #ffffff;
    border: 2px solid #ffe082;
}
[data-theme="mango"] .recipe-box {
    background-color: #ffb300;
    color: #3e2723;
}

/* ================= JELLY THEME ================= */
[data-theme="jelly"] .recipe-extra-info-box {
    background-color: #e8f5e9;
    border: 2px solid #c8e6c9;
}
[data-theme="jelly"] .recipe-ingredients-box {
    background-color: #fce4ec;
    border: 2px solid #f8bbd0;
}
[data-theme="jelly"] .recipe-box {
    background-color: #f3e5f5;
    border: 2px solid #e1bee7;
}

/* ================= YAKULT THEME ================= */
[data-theme="yakult"] .recipe-title-box {
    background-color: white;
    border: 2px solid #ffcdfa;
    color: #880e4f;
}
[data-theme="yakult"] .recipe-extra-info-box,
[data-theme="yakult"] .recipe-ingredients-box {
    background-color: white;
    border: 2px solid #ffcdd2;
}
[data-theme="yakult"] .recipe-box {
    background-color: #ffebee;
    border: 2px solid whitesmoke;
}

/* ================= BERRY THEME ================= */
[data-theme="berry"] .recipe-title-box{
     background-color: #F7D6DB;
     color: #4A1E25;
     font-family: 'Inter', sans-serif;
     border-radius: 20px;
}

[data-theme="berry"] .recipe-extra-info-box,
[data-theme="berry"] .recipe-ingredients-box,
[data-theme="berry"] .recipe-media-box,
[data-theme="berry"] .recipe-box {
    background-color: #FCF6F7;   
    border: 1px solid #E6C5CB;   
    box-shadow: 0 10px 30px rgba(74, 30, 37, 0.03);
    color: #5C242E;
    font-family: 'Inter', sans-serif;
    border-radius: 20px;         
}

[date-theme="berry"] .recipe-extra-info-box p,
[date-theme="berry"] .recipe-ingredients-box ul,
[date-theme="berry"] .recipe-box ol{
    color: #6E3F47;            
    font-family: 'Gill Sans', system-ui, sans-serif;
}

[date-theme="berry"] .extra-info-box strong {
    color: #4A1E25;
}

.media-box a, .media-box a:visited {
    color: #BD6B78;             
    transition: color 0.2s ease;
}
/*
Mobile CSS
*/

@media (max-width: 800px) {
    .recipe-layout{
        grid-template-columns: 1fr;
    }

    .watermelonrecipe-box,
    .watermelonrecipe-extra-info-box,
    .watermelonrecipe-ingredients-box,
    .watermelonrecipe-main-pic-box,
    .watermelonrecipe-media-box,
    .watermelonrecipe-title-box,
    .lycheerecipe-box,
    .lycheerecipe-extra-info-box,
    .lycheerecipe-ingredients,
    .lycheerecipe-main-pic-box,
    .lycheerecipe-media-box,
    .lycheerecipe-title-box,
    .jellyrecipe-box,
    .jellyrecipe-extra-info-box,
    .jellyrecipe-ingredients,
    .jellyrecipe-main-pic-box,
    .jellyrecipe-media-box,
    .jellyrecipe-title-box,
    .yakultrecipe-box,
    .yakultrecipe-extra-info-box,
    .yakultrecipe-ingredients,
    .yakultrecipe-ingredients-box,
    .yakultrecipe-main-pic-box,
    .yakultrecipe-media-box,
    .yakultrecipe-title-box,
    .spriterecipe-box,
    .spriterecipe-extra-info-box,
    .spriterecipe-ingredients,
    .spriterecipe-main-pic-box,
    .spriterecipe-media-box,
    .spriterecipe-title-box,
    .jellyrecipe-box,
    .jellyrecipe-extra-info-box,
    .jellyrecipe-ingredients,
    .jellyrecipe-main-pic-box,
    .jellyrecipe-media-box,
    .jellyrecipe-title-box,
    .mangorecipe-box,
    .mangorecipe-extra-info-box,
    .mangorecipe-ingredients,
    .mangorecipe-main-pic-box,
    .mangorecipe-media-box,
    .mangorecipe-title-box {
        grid-column: auto;
        grid-row: auto;
    }

    .jellyrecipe-title-box h1,
    .mangorecipe-title-box h1,
    .lycheerecipe-title-box h1,
    .spriterecipe-title-box h1,
    .yakultrecipe-title-box h1,
    .watermelonrecipe-title-box h1{
        font-size: 28px;
    }

    .mangorecipe-main-pic-box img,
    .jellyrecipe-main-pic-box img,
    .lycheerecipe-main-pic-box img,
    .spriterecipe-main-pic-box img,
    .yakultrecipe-main-pic-box img,
    .watermelonrecipe-main-pic-box img,
    .jellyrecipe-media-box img,
    .mangorecipe-media-box img,
    .lycheerecipe-media-box img,
    .spriterecipe-media-box img,
    .yakultrecipe-media-box img,
    .watermelonrecipe-media-box img {
        max-height: 220px;
    }


    .page{
        width: 94%;
        padding: 16px 10px;
    }
    .header{
        padding: 24px 16px;
        margin-bottom: 20px;
    }

    .header h1{
        font-size: 28px;
        line-height: 1.2;
    }

     .header p{
        font-size: 16px;
        line-height: 1.5;
        margin-top: 12px;
    }

    .categories{
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card img{
        height: 260px;
    }

    .card p{
        font-size: 18px;
        padding: 14px;
    }

    .about{
        padding: 20px;
    }
}


/*LOADING ANIMATION OVERLAY*/
.loader-overlay{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: #FAF6F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

.loader-overlay.active{
    opacity: 1;
    pointer-events: auto;
}

.spinner{
    width: 50px;
    height: 50px;
    border: 5px solid #E1B995;
    border-top: 5px solid #2B1E16;
    border-radius: 50%;
    animation: spin .8s linear infinite;
}

.loader-overlay p{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #3D2616;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

